In [1]:
nome_scuola = "Epicode"

for lettera in nome_scuola:
    print("-", lettera)

- E
- p
- i
- c
- o
- d
- e

In [2]:
elementi = "NPKOHC"
print("Elenco elementi chimici:")

for elemento in elementi:
    print("-",elemento)

Elenco elementi chimici:
- N
- P
- K
- O
- H
- C

In [3]:
elementi = "NPKOHC"
contatore = 0
print("Elenco elementi chimici:")

for conatatore,elemento in enumerate(elementi):
    contatore +=1
    print(contatore,".",elemento,sep="")

Elenco elementi chimici:
1.N
2.P
3.K
4.O
5.H
6.C

In [12]:
#METODO STRINGHE

x = "marmalade"
x = x.replace("e","*").replace("a","e").replace("*","a")
print(x)

mermeleda

In [13]:
#CICLO FOR

x = "marmalade"
xlista = list(x)

for l in range(len(xlista)):
    if xlista[l] == "e":
        xlista[l] = "a"
    elif xlista[l] == "a" :
        xlista[l] = "e"

x ="".join(xlista)
print(x)

mermeleda

In [14]:
#CICLO WHILE

index = 0

x = "marmalade"
listax = list(x)

i = 0

while i < len(listax):
    if listax[i] == "e":
        listax[i] = "a"
        i += 1
    elif listax[i] == "a":
        listax[i] = "e"
    i += 1

x = "".join(listax)
print(x)

mermeleda

In [16]:
print("Prime 10 potenze di 2:")

for esponente in range(0,11):
    print("-",2**esponente)

Prime 10 potenze di 2:
- 1
- 2
- 4
- 8
- 16
- 32
- 64
- 128
- 256
- 512
- 1024

In [17]:
#CICLO FOR

potenze_2 = []
print("Prime 10 potenze di 2:")

for esponente in range(0,11):
    potenze_2.append(2**esponente)
    
print(potenze_2)

Prime 10 potenze di 2:
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [18]:
#CICLO WHILE

potenze_2 = []
e = 0

print("Prime 10 potenze di 2:")

while e < 11:
    potenze_2.append(2**e)
    e +=1
    
print(potenze_2)

Prime 10 potenze di 2:
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [19]:
#CICLO FOR

potenze_3 = []
print("Prime N potenze di 3:")

for esponente in range(6):
    potenze_3.append(3**esponente)
    
print(potenze_3)

Prime N potenze di 3:
[1, 3, 9, 27, 81, 243]

In [21]:
#CICLO WHILE

potenze_3 = []
e = 0

print("Prime N potenze di 3:")

while e < 6:
    potenze_3.append(3**e)
    e +=1
    
print(potenze_3)

Prime N potenze di 3:
[1, 3, 9, 27, 81, 243]

In [22]:
#CICLO FOR

N = int(input("Inserisci quante N potenze vuoi calcolare:"))
K = int(input("Inserisci il numero di cuoi vuoi calcolare N potenze:"))
potenze_K = []

for i in range(N):
    potenze_K.append(K**i)
    
print(potenze_K)

Inserisci quante N potenze vuoi calcolare: 6
Inserisci il numero di cuoi vuoi calcolare N potenze: 3

[1, 3, 9, 27, 81, 243]

In [23]:
#CICLO WHILE

N = int(input("Inserisci quante N potenze vuoi calcolare:"))
K = int(input("Inserisci il numero di cuoi vuoi calcolare N potenze:"))
potenze_K = []
contatore = 0

while contatore < N:
    potenze_K.append(K**contatore)
    contatore +=1
    
print(potenze_K)

Inserisci quante N potenze vuoi calcolare: 5
Inserisci il numero di cuoi vuoi calcolare N potenze: 2

[1, 2, 4, 8, 16]

In [26]:
#CICLO FOR
potenze_2 = []
print ("Potenze di 2 minori di 25000:")

for i in range(2000):
    if 2**i < 25000:
        potenze_2.append (2**i)
    
print(potenze_2)

Potenze di 2 minori di 25000:
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]

In [32]:
#CICLO WHILE

N = int(input("Inserisci quante N potenze vuoi calcolare:"))
potenze_2 = []
contatore = 0
print ("Potenze di 2 minori di N:")

while contatore < N:
    potenze_2.append(2**contatore)
    contatore +=1
    
print(potenze_2)

Inserisci quante N potenze vuoi calcolare: 10

Potenze di 2 minori di N:
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [33]:
#CICLO FOR

N = int(input("Inserisci quante N potenze vuoi calcolare:"))
potenze_2 = []
print ("Potenze di 2 minori di N:")

for i in range(N):
    potenze_2.append (2**i)
    
print(potenze_2)

Inserisci quante N potenze vuoi calcolare: 10

Potenze di 2 minori di N:
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [36]:
#CICLO FOR C0N RANGE(0,100,3)

potenze_2 = []
print ("Prime 100 potenze di 2:")
for i in range(0,100,3):
    potenze_2.append (2**i)
    
print(potenze_2)

Prime 100 potenze di 2:
[1, 8, 64, 512, 4096, 32768, 262144, 2097152, 16777216, 134217728, 1073741824, 8589934592, 68719476736, 549755813888, 4398046511104, 35184372088832, 281474976710656, 2251799813685248, 18014398509481984, 144115188075855872, 1152921504606846976, 9223372036854775808, 73786976294838206464, 590295810358705651712, 4722366482869645213696, 37778931862957161709568, 302231454903657293676544, 2417851639229258349412352, 19342813113834066795298816, 154742504910672534362390528, 1237940039285380274899124224, 9903520314283042199192993792, 79228162514264337593543950336, 633825300114114700748351602688]

In [37]:
#CICLO FOR ED IF RAGE(100)

potenze_2 = []
print ("Prime 100 potenze di 2:")

for i in range (100):
    if i%3 == 0:
        potenze_2.append(2**i)
    
print(potenze_2)

Prime 100 potenze di 2:
[1, 8, 64, 512, 4096, 32768, 262144, 2097152, 16777216, 134217728, 1073741824, 8589934592, 68719476736, 549755813888, 4398046511104, 35184372088832, 281474976710656, 2251799813685248, 18014398509481984, 144115188075855872, 1152921504606846976, 9223372036854775808, 73786976294838206464, 590295810358705651712, 4722366482869645213696, 37778931862957161709568, 302231454903657293676544, 2417851639229258349412352, 19342813113834066795298816, 154742504910672534362390528, 1237940039285380274899124224, 9903520314283042199192993792, 79228162514264337593543950336, 633825300114114700748351602688]

In [38]:
numeri = [4, 9, 5, 1, 7, 10, 2, 3]
max = numeri [0]

for n in numeri:
    if n > max:
        max = n
        
print(max)

10

In [39]:
eta_studenti = [20, 30, 40, 50, 60]
eta_media = sum (eta_studenti) / len (eta_studenti)
    
print(eta_media)

40.0

In [40]:
#CICLO FOR

eta_studenti = [20, 30, 40, 50, 60]
eta_media = 0

for eta in eta_studenti:
    eta_media += eta
    
print(sum (eta_studenti) / len (eta_studenti))

40.0

In [41]:
#CICLO FOR

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
media_guadagni = 0

for mensilita in guadagni:
    media_guadagni += mensilita

print(sum(guadagni)/12)

70.0

In [42]:
#CICLO FOR

guadagni = [100, 90, 70, 40, 50, 80, 90, 120]
media_guadagni = 0
print("Media guadagni di", len(guadagni), "mensilita:")
for mensilita in guadagni:
    media_guadagni += mensilita

print(sum(guadagni)/len(guadagni))

Media guadagni di 8 mensilita:
80.0

In [43]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace","Henry"]

for studente in studenti:
    print("-",studente)

- Alex
- Bob
- Cindy
- Dan
- Emma
- Faith
- Grace
- Henry

In [44]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace","Hnry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

for studente, corso, edizione in zip(studenti, corsi, edizioni):
    print (f'{studente} segue {corso},edizione {edizione}')

Alex segue Cybersecurity,edizione 1
Bob segue Data Analyst,edizione 2
Cindy segue Backend,edizione 3
Dan segue Frontend,edizione 2
Emma segue Data Analyst,edizione 2
Faith segue Backend,edizione 1
Grace segue Frontend,edizione 3
Henry segue Cybersecurity,edizione 3

In [45]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Belvedere", "Semestre", "Sosta", "Orpello", "Abete"]
lettera = "e"
for parola in parole:
    count = parola.count(lettera)
    print (parola,"=",count)

Albergo = 1
Sedia = 1
Borgo = 0
Petalo = 1
Belvedere = 4
Semestre = 3
Sosta = 0
Orpello = 1
Abete = 2

In [46]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello",
          "Abete", "Orologio", "Cesta", "Ermellino"]


for parola in parole:
    count = parola.upper().count('E')
    print (parola,"=",count)

Albergo = 1
Sedia = 1
Borgo = 0
Petalo = 1
Eremo = 2
Belvedere = 4
Semestre = 3
Esteta = 2
Sosta = 0
Orpello = 1
Abete = 2
Orologio = 0
Cesta = 1
Ermellino = 2

In [47]:
cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C","MNOPQR89S03A456D", "STUVWX95Z04A654E",
            "XYZABC01D05A789F", "DEFGHI95J06A987G"]
cf_95 = []

for cfp in cf:
    if "95" in cfp:
        cf_95.append(cfp)
        
print(cf_95)

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [48]:
cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C","MNOPQR89S03A456D", "STUVWX95Z04A654E",
            "XYZABC01D05A789F", "DEFGHI95J06A987G"]

for cfp in cf:
    print(cfp[:6])

ABCDEF
GHIJKL
MNOPQR
STUVWX
XYZABC
DEFGHI

In [49]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
print("Studenti che seguono una prima edizione:")

for studente, corso, edizione in zip(studenti, corsi, edizioni):
    if edizione == 1:
        print("-",studente)

Studenti che seguono una prima edizione:
- Alex
- Faith

In [ ]:
'''studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
   
    Le tre liste a nostra disposizione rappresentano tre distinte tabelle, dove:
    studenti= IDstudente, nomestudente
    corsi= IDcorso, nomecorso
    edizioni= IDedizione, IDstudente, IDcorso'''

In [52]:
proprietari_auto = {"Ada":"Punto","Ben":"Multipla","Charlie":"Golf","Debbie":107}

print(proprietari_auto,"\n","Auto Debbie:",proprietari_auto["Debbie"])

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': 107}
 Auto Debbie: 107

In [53]:
proprietari_auto = {"Ada":"Punto","Ben":"Multipla","Charlie":"Golf","Debbie":107}

proprietari_auto ["Emily"] = "A1"
proprietari_auto ["Fred"] = "Octavia"

del proprietari_auto ["Ben"]

print(proprietari_auto)

{'Ada': 'Punto', 'Charlie': 'Golf', 'Debbie': 107, 'Emily': 'A1', 'Fred': 'Octavia'}

In [54]:
proprietari_auto = {"Ada":"Punto","Ben":"Multipla","Charlie":"Golf","Debbie":107, "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

proprietari_auto.update(nuovi_proprietari)

print(proprietari_auto)

#L'auto associata a Ben viene aggiornata/sostituita con il nuovo dato inserito.
#Poiché il metodo .update sovrascrive il vecchio dato, qualora risconta corrispondenza nella chiave.

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': 107, 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

In [55]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1", "Fred":
                   "Octavia", "Grace": "Yaris", "Hugh": "Clio"}
proprietari = ["Hugh","Ada","Emily","Debbie"]
for proprietario in proprietari:
    if proprietario in dizionario_auto:
        print(proprietario,dizionario_auto[proprietario])

Hugh Clio
Ada Punto
Emily A1
Debbie 107

In [56]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1", "Fred":
                   "Octavia", "Grace": "Yaris", "Hugh": "Clio"}
proprietari = ["Ada","Emily","Jade","Ben","Hugh","Kelly","Charlie"]

for proprietario in proprietari:
    if proprietario in dizionario_auto:
        print(proprietario,dizionario_auto[proprietario])
    else:
        print(proprietario,"non è nel dizionario!")

Ada Punto
Emily A1
Jade non è nel dizionario!
Ben Multipla
Hugh Clio
Kelly non è nel dizionario!
Charlie Golf

In [57]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

print(diz.keys())

dict_keys(['a', 'zy', 'qop', 'ab', 'k', 'clap'])

In [58]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

for key in diz.keys():
    print(key)

a
zy
qop
ab
k
clap

In [59]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

print(diz.values())

dict_values([121, 3774, 147726, 328, 12, 9])

In [60]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

for value in diz.values(): 
    print(value)

121
3774
147726
328
12
9

In [61]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

for item in diz.items(): 
    print(item)

('a', 121)
('zy', 3774)
('qop', 147726)
('ab', 328)
('k', 12)
('clap', 9)

In [62]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}

print(diz.items())

dict_items([('a', 121), ('zy', 3774), ('qop', 147726), ('ab', 328), ('k', 12), ('clap', 9)])

In [63]:
diz = {"a": 121, "zy": 3774, "qop": 147726, "ab": 328, "k":12, "clap": 9}
max = 0
min = [12,3774,147726,328,12,9]

for value in diz.values(): 
    if value > max:
        max = value
    elif value < min[0]:
        min = value
        
print("Valore massimo:",max,"\nValore minimo:",min,"\nSomma dei valori:",sum(diz.values()))

Valore massimo: 147726
Valore minimo: 9
Somma dei valori: 151970

In [64]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

for proprietario,auto in dizionario_auto.items():
    print(proprietario,"guida una",auto)

Ada guida una Punto
Ben guida una Multipla
Charlie guida una Golf
Debbie guida una 107

In [69]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

for auto in dizionario_auto.values():
    if auto != "Multipla":
        print(auto)

Punto
Golf
107

In [70]:
'''• Ada ha 10 Funko Pop, 5 action figures e 35 manga
   • Ben ha 2 Funko Pop, 6 action figures, 40 manga e 2 graphic novels
   • Charlie ha 31 action figures e 18 graphic novels
   • Debbie ha 1 Funko Pop, 9 graphic novels, 25 manga e 2 action figures'''

collezionisti = {"Ada": {"Funko Pop":10, 
                         "action figures":5,
                         "manga":35},
                 "Ben": {"Funko Pop":2, 
                         "action figures":6,
                         "manga":40,
                         "graphic novels":2},
                 "Charlie": {"action figures":31,
                             "graphic novels":18},
                 "Debbie": {"Funko Pop":1,
                            "action figures":2,
                            "manga":25,
                            "graphic novels":9}
                }

print(collezionisti)

{'Ada': {'Funko Pop': 10, 'action figures': 5, 'manga': 35}, 'Ben': {'Funko Pop': 2, 'action figures': 6, 'manga': 40, 'graphic novels': 2}, 'Charlie': {'action figures': 31, 'graphic novels': 18}, 'Debbie': {'Funko Pop': 1, 'action figures': 2, 'manga': 25, 'graphic novels': 9}}

In [71]:
'''
• Ada ha 10 Funko Pop, 5 action figures e 35 manga
• Ben ha 2 Funko Pop, 6 action figures, 40 manga e 2 graphic novels (entrambe
della DC)
• Charlie ha 31 action figures e 18 graphic novels (di cui 10 della Marvel e 8
della DC)
• Debbie ha 1 Funko Pop, 9 graphic novels (di cui 4 della DC e 5 della Marvel),
25 manga e 2 action figures'''

collezionisti = {"Ada": {"Funko Pop":10,
                         "action figures":5,
                         "manga":35},
                 "Ben": {"Funko Pop":2,
                         "action figures":6,
                         "manga":40,
                         "graphic novels":
                         {"DC":2}
                        },
                 "Charlie": {"action figures":31,
                             "graphic novels":
                             {"DC":8,"Marvel":10}
                            },
                 "Debbie": {"Funko Pop":1,
                            "action figures":2,
                            "manga":25,
                            "graphic novels":
                            {"DC":4,"Marvel":5}
                           }
                }

print(collezionisti)

{'Ada': {'Funko Pop': 10, 'action figures': 5, 'manga': 35}, 'Ben': {'Funko Pop': 2, 'action figures': 6, 'manga': 40, 'graphic novels': {'DC': 2}}, 'Charlie': {'action figures': 31, 'graphic novels': {'DC': 8, 'Marvel': 10}}, 'Debbie': {'Funko Pop': 1, 'action figures': 2, 'manga': 25, 'graphic novels': {'DC': 4, 'Marvel': 5}}}

In [73]:
collezionisti = {"Ada": {"Funko Pop":10,
                         "action figures":5,
                         "manga":35},
                 "Ben": {"Funko Pop":2,
                         "action figures":6,
                         "manga":40,
                         "graphic novels":
                         {"DC":2}
                        },
                 "Charlie": {"action figures":31,
                             "graphic novels":
                             {"DC":8,"Marvel":10}
                            },
                 "Debbie": {"Funko Pop":1,
                            "action figures":2,
                            "manga":25,
                            "graphic novels":
                            {"DC":4,"Marvel":5}
                           }
                }

print("1. quanti Funko Pop ha Ada?")

print("-",collezionisti["Ada"]["Funko Pop"])


print("2. quanti manga ha Ben?")

print("-",collezionisti["Ben"]["manga"])


print("3. quante graphic novels della Marvel ha Debbie?")

print("-",collezionisti["Debbie"]["graphic novels"] ["Marvel"])


print("4. quanti Funko Pop hanno Ada e Ben in tutto?")

totale = collezionisti["Ada"].get("Funko Pop")+collezionisti["Ben"].get("Funko Pop")

print("-",totale)


print("5. quanti manga hanno in tutto i collezionisti?")

totale_manga = 0

for collezionista in collezionisti.values():
    totale_manga += collezionista.get("manga",0)
        
print("-",totale_manga)


print("6. quante graphic novel della DC hanno in tutto i collezionisti?")

totale_DC = 0

for collezionista in collezionisti.values():
    graphic_novels= collezionista.get("graphic novels",{})
    totale_DC += graphic_novels.get("DC",0)
        
print("-",totale_DC)


print("7. quante graphic novel hanno in tutto i collezionisti?")

totale_graphicnovel = 0

for collezionista in collezionisti.values():
    graphicnovel = collezionista.get("graphic novels",{})
    totale_graphicnovel += sum(graphicnovel.values())
        
print("-",totale_graphicnovel)

1. quanti Funko Pop ha Ada?
- 10
2. quanti manga ha Ben?
- 40
3. quante graphic novels della Marvel ha Debbie?
- 5
4. quanti Funko Pop hanno Ada e Ben in tutto?
- 12
5. quanti manga hanno in tutto i collezionisti?
- 100
6. quante graphic novel della DC hanno in tutto i collezionisti?
- 14
7. quante graphic novel hanno in tutto i collezionisti?
- 29